body{
  background-color:#000;

}

h1,h2,h3{
  color:#666;
  line-height: 10px;
}

p, span{
  color:#ececec;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h1{

}

h2{
  font-size:16px;
}

#root{
  width:100%;
  height:100%;
  display:flex;
}
.App {
  margin:0px;
  padding-left:5px;
  display:flex;
  flex-direction: column; 
  width:100%;
}

.App-logo {
  padding:0xp;
  margin:0px;
  text-align:left;
  float:left;
  height:40px;
}

.App-header {
  border-bottom:10px solid #222;
  height: 40px;
  padding: 0px;
  color: white;
  z-index:100;
  background-color:#000000;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.columns{
  display:flex;
  flex-direction:row;
}
.search .header{
  display:flex;
}

.itemBar{
  background-color:#444;
  overflow-y: -webkit-paged-x;
  overflow-x: auto;
}

.itemBar .item{
  text-align:center;
  vertical-align:middle;
  background-color: #222;
  float:left;
  font-size:10px;
  color:#fff;
  margin:2px;
  height:150px;
  width:150px;
}


.search .itemBar{
  height:100%;
}
.item span{
  position: relative;
  top: 8%;
}

.item img{
  width: 100%;
  margin-top: 25%;
}

.container{
  padding:3px;
}
.filesToProcess{
  width:100%;
  height:180px;
}
.sequencesBelongingToFile{
  width:100%;
  height:180px;
}

.Search .sequencesBelongingToFile{
  height:100%;
}

.videoContainer, .sequencesContainer{
  margin-top:10px;
  float:left;
  margin-left:10px;
}

.search.sequenceViewer{

  width:750px;
  /* clear: both; */
  background-color: #000000;
}

.sequencesContainer{
  clear:both;
  width:100%;
}

.search .sequencesContainer{
  clear:both;
  width:50%;
  height:100%;
}

#generateIndex {
  margin-left: 15rem;
}

.material-icons{
  color:#888;
  font-size:32px;
}

div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
  color:#000;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  z-index:10000;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}